*
{
	background-color: #05022b;
}
body
{
	border: 30px solid #05a0b3;
	border-top: 30px solid #05022b;
	margin: 10px;
}
h1
{
	font-family: 'Bree Serif', serif;
	color: white;
	text-align: center; 
}
h2
{
	font-family: 'Bree Serif', serif;
	color: white;
	text-align: center; 
}
p
{
	font-family: 'Bree Serif', serif;
	color: white;
	text-align: center; 
}
form
{
	text-align: center; 
}
label
{
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 15px;
}
input
{
	border: 0px;
	background-color: white;

}
button
{
	border: 2px solid #f0eae6;
	border-radius: 12px;
	background-color: #ed6c09;
	width: 120px;
	height: 70px;
	font-family: 'Bree Serif', serif;
	font-size: 18px;
}